body {
    font-family: Arial, sans-serif;
    background-color: #bab5b5;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

input,
button {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}

#weather-details {
    margin-top: 2rem;
}

#weather-icon {
    width: 300px;
    height: 300px;
}